loadSeasonData
1. Extracts the NBA regular season team stats from the csv files.
2. Stores these stats in a single pandas dataframe.
3. Saves the dataframe.

The data came from <a href="basketball-reference.com">basketball-reference.com</a>.

In [1]:
import pandas as pd
import numpy as np

In [2]:
fileNames = !ls regSeasonData # get names of files in the data folder
fileNames = [fName[:3] for fName in fileNames] # remove all but first 3 characters of each name, containing team label
teams = set(fileNames) # get unique team names

In [3]:
# directory  and file names
topDir = 'regSeasonData/'
labels = list('od') # labels for offense and defense (i.e. opponent) data

# create data frame which will be storing all the data
# keys for offensive stats
oKeys = [
    'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
    '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
    'TRB', 'AST','STL', 'BLK', 'TOV', 'PF', 'PTS'
]

# Function to add 'opp' to beginning of team stat column names
addOpp = lambda x: 'opp' + x if (x != 'Season' and x != 'Tm') else x

minSeason = 2000 # shorthand for 2000-01, earliest season for which I want data for.
nTeams = 30 # number of NBA teams

dfList = [] # list to store DFs for each team

for team in teams:
    print('Extracting',team,'stats')

    odList = [] # list for offense and defense data
    
    for label in labels:
        print(label)
        df = pd.read_csv(topDir+team+label+'.csv') # create dataframe with the data in the file
        
#         nYears = df.shape[0] # number of years for which there is data for given team
        # Keep first nSeason seasons (or nYears, whichever is smaller) and select only relevant stat columns
#         df = df.reindex(index=range(min(nSeason,nYears)), columns=['Season','Tm'] + oKeys)

        seasons = list(df['Season']) # list of season strings
        seasonInts = np.array([int(s[:4]) for s in seasons]) # convert into list of ints of starting year of season
        df = df[seasonInts >= minSeason] # keep only season which are minSeason and later
        df = df.reindex(columns=['Season','Tm'] + oKeys)
    
        if label == 'd': # rename keys for opponent data
            df.rename(columns=addOpp, inplace=True)
        odList.append(df)
        
    # merge the dataframes into a single data frame
    dfOD = pd.merge(*odList, on=['Season','Tm'])
    dfList.append(dfOD) # add to my list

# concatenate all my dataframes together
print('Concatenating...')
dfFull = pd.concat(dfList)

Extracting GSW stats
o
d
Extracting CLE stats
o
d
Extracting LAL stats
o
d
Extracting UTA stats
o
d
Extracting DAL stats
o
d
Extracting MEM stats
o
d
Extracting DET stats
o
d
Extracting ORL stats
o
d
Extracting MIL stats
o
d
Extracting CHI stats
o
d
Extracting DEN stats
o
d
Extracting PHI stats
o
d
Extracting BRK stats
o
d
Extracting HOU stats
o
d
Extracting SAC stats
o
d
Extracting NYK stats
o
d
Extracting OKC stats
o
d
Extracting POR stats
o
d
Extracting PHO stats
o
d
Extracting NOP stats
o
d
Extracting TOR stats
o
d
Extracting BOS stats
o
d
Extracting SAS stats
o
d
Extracting MIA stats
o
d
Extracting LAC stats
o
d
Extracting ATL stats
o
d
Extracting IND stats
o
d
Extracting WAS stats
o
d
Extracting CHA stats
o
d
Extracting MIN stats
o
d
Concatenating...

In [4]:
dfFull.describe()

,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,...,oppFT%,oppORB,oppDRB,oppTRB,oppAST,oppSTL,oppBLK,oppTOV,oppPF,oppPTS
count,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,...,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000
mean,37.585463,82.839936,0.453639,7.537220,21.101278,0.355321,30.053674,61.737220,0.488248,18.116134,...,0.758851,11.022524,31.601757,42.625879,22.109744,7.595367,4.902875,14.438019,20.915176,100.834665
std,2.350911,3.849248,0.015944,2.769463,7.417564,0.019360,1.974460,5.299178,0.026599,1.927887,...,0.014517,1.097614,2.273502,2.185816,1.994797,0.711254,0.701421,1.201249,1.602311,6.810838
min,32.400000,74.300000,0.408000,2.600000,7.800000,0.278000,23.100000,41.900000,0.427000,12.200000,...,0.724000,8.000000,25.900000,36.300000,16.300000,5.600000,3.000000,11.300000,16.200000,84.300000
25%,35.925000,80.000000,0.443000,5.500000,15.600000,0.344000,28.800000,58.400000,0.470000,16.700000,...,0.749000,10.300000,30.000000,41.200000,20.700000,7.100000,4.400000,13.600000,19.800000,96.000000
50%,37.300000,82.400000,0.453000,6.900000,19.300000,0.355000,30.200000,62.250000,0.485000,18.000000,...,0.759000,11.000000,31.400000,42.600000,22.100000,7.600000,4.900000,14.400000,20.800000,100.200000
75%,39.000000,85.600000,0.464000,9.300000,25.800000,0.368000,31.400000,65.475000,0.505000,19.400000,...,0.769000,11.700000,33.200000,44.100000,23.600000,8.000000,5.400000,15.200000,22.000000,105.375000
max,44.700000,94.000000,0.504000,16.700000,45.400000,0.416000,35.300000,75.700000,0.567000,24.100000,...,0.803000,15.000000,37.700000,49.000000,27.100000,9.900000,6.900000,18.600000,25.700000,119.700000

In [5]:
dfFull.shape

(626, 44)

In [6]:
# save data as HDF file
dfFull.to_hdf('pyData/regSeasonData.h5','dfFull')

In [7]:
dfFull.head()

,Season,Tm,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,oppFT%,oppORB,oppDRB,oppTRB,oppAST,oppSTL,oppBLK,oppTOV,oppPF,oppPTS
0,2020-21,GSW,41.3,88.2,0.468,14.6,38.7,0.376,26.7,49.4,...,0.778,10.7,36.6,47.3,23.8,7.9,4.3,15.0,19.5,112.7
1,2019-20,GSW,38.6,88.2,0.438,10.4,31.3,0.334,28.2,56.9,...,0.783,10.2,36.3,46.5,26.1,8.2,4.9,15.6,20.1,115.0
2,2018-19,GSW,44.0,89.8,0.491,13.3,34.4,0.385,30.8,55.3,...,0.773,10.8,33.5,44.3,24.3,7.7,3.6,13.5,19.5,111.2
3,2017-18,GSW,42.8,85.1,0.503,11.3,28.9,0.391,31.5,56.2,...,0.758,10.9,31.6,42.5,23.6,8.7,3.7,14.3,18.5,107.5
4,2016-17,GSW,43.1,87.1,0.495,12.0,31.2,0.383,31.1,55.8,...,0.761,11.7,31.8,43.5,22.7,8.6,3.8,15.5,19.4,104.3

In [8]:
dfFull.loc[0,'Season']

0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
0    2020-21
Name: Season, dtype: object

In [9]:
dfFull.iloc[0,0]

'2020-21'

In [10]:
(dfFull.index)[-1]

20

In [11]:
dfFull.tail()

,Season,Tm,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,oppFT%,oppORB,oppDRB,oppTRB,oppAST,oppSTL,oppBLK,oppTOV,oppPF,oppPTS
16,2004-05,MIN,37.1,80.8,0.459,4.8,14.0,0.345,32.3,66.9,...,0.752,12.6,28.8,41.4,21.7,6.6,3.9,11.7,19.9,95.3
17,2003-04,MIN,37.0,80.1,0.462,4.0,10.9,0.363,33.0,69.2,...,0.753,12.2,29.3,41.5,20.7,6.7,3.6,13.5,20.2,89.1
18,2002-03,MIN,38.7,83.0,0.466,3.6,9.8,0.368,35.1,73.2,...,0.752,11.9,29.8,41.7,22.8,7.0,4.9,13.6,20.6,96.0
19,2001-02,MIN,38.7,84.0,0.461,4.8,12.8,0.378,33.9,71.2,...,0.742,11.1,28.4,39.5,22.6,6.6,5.0,13.4,20.4,96.0
20,2000-01,MIN,38.4,83.8,0.458,3.9,11.0,0.357,34.5,72.8,...,0.724,11.8,30.5,42.3,22.4,7.1,4.4,15.2,20.2,96.0

In [12]:
dfFull.columns

Index(['Season', 'Tm', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'oppFG', 'oppFGA', 'oppFG%', 'opp3P', 'opp3PA',
       'opp3P%', 'opp2P', 'opp2PA', 'opp2P%', 'oppFT', 'oppFTA', 'oppFT%',
       'oppORB', 'oppDRB', 'oppTRB', 'oppAST', 'oppSTL', 'oppBLK', 'oppTOV',
       'oppPF', 'oppPTS'],
      dtype='object')

In [13]:
dfFull[dfFull['Tm'] == 'DET'].isna().any(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [14]:
dfFull[dfFull['Tm'] == 'CHH']

,Season,Tm,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,oppFT%,oppORB,oppDRB,oppTRB,oppAST,oppSTL,oppBLK,oppTOV,oppPF,oppPTS
17,2001-02,CHH,35.3,80.2,0.440,4.2,12.1,0.348,31.1,68.1,...,0.768,11.7,29.3,41.0,20.0,7.6,5.1,13.9,20.8,92.9
18,2000-01,CHH,34.1,79.3,0.431,4.1,12.0,0.346,30.0,67.3,...,0.756,10.9,29.7,40.6,21.3,7.5,4.6,14.7,21.6,89.8